body{
    background-color: lightblue;
}
.main{
    position: relative;
    left: 5%;
}
.main-page-container{
    background-color: lightblue;
    position: relative;
}
.top-nav-bar{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: blue;
}
.user-info{
    background-color: lightblue;
    position: absolute;
    border: 2px solid red;
    border-radius: 25px;
    padding: 5px;
    width: 200px;
    min-height: 500px;
}
.all-toxic{
    background-color: lightblue;
    position: absolute;
    min-width: 700px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
    margin-left: 25px;
    left: 250px;
}
.toxic{
    border: 2px solid red;
    border-radius: 25px;
    margin: 3px;
    padding: 3px;
}
.user-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.create-new-toxic{
    position: absolute;
    top: 600px;
}
.sreach-area{
    background-color: transparent;
    position: absolute;
    border: 2px solid red;
    border-radius: 25px;
    padding: 5px;
    width: 300px;
    min-height: 500px;
    left: 999px;
}
.result{
    border: 2px solid blue;
    border-radius: 25px;
    margin: 3px;
    padding: 3px;
}